<launch>

    <!-- Start the AirSim ROS Multirotor node -->
    <node name="airsim_multirotor" pkg="airsim_rospkg" type="airsim_multirotor.py" output="screen">
        <param name="ip" type="string" value="172.23.80.1"/>
        <param name="port" type="int" value="41451"/>
        <param name="vehicle_name" type="string" value="drone"/>
    </node>

    <!-- Start the AirSim ROS Car node -->
    <node name="airsim_car" pkg="airsim_rospkg" type="airsim_car.py" output="screen">
        <param name="ip" type="string" value="172.23.80.1"/>
        <param name="port" type="int" value="41452"/>
        <param name="vehicle_name" type="string" value="car"/>
    </node>

    <!-- Launch rqt_plot to plot specific topics -->
    <!-- <node name="rqt_plot_1" pkg="rqt_plot" type="rqt_plot" 
        args="/drone/fused_pose/pose/position/x /car/fused_pose/pose/position/x" output="screen"/> -->

    <!-- <node name="rqt_plot_2" pkg="rqt_plot" type="rqt_plot" 
        args="/drone/fused_pose/pose/position/y /car/fused_pose/pose/position/y" output="screen"/> -->

</launch>